* {
    box-sizing: border-box;
}
div {
    display: block;
}
ul {
    list-style: none;
    padding-left: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

nav {
    display: block;
}

img {
    border-style: none;
}

section {
    display:block
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

li {
    text-align: -webkit-match-parent;
}

.header {
    justify-content: space-between;
}

.horizontal_menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.site_nav {
    width: 50%;
}

.profile_picture {
    width: 50%;
    max-width: 350px;
    border-radius: 50%
}

.salutation {
    font-size: 36px;
}

.salutation_container {
    flex-direction: row;
    justify-content: space-around;
}

.sections {
    padding: 1vw 0;
}

.skill_container{
    font-size: 24px;
    line-height: 32px;
}